# Compiled output
bin/
obj/

# Python virtual environment
env/

# Trace files and folder to ignore
tracer/
*.traces

# Editor configuration
.vscode/

/results
/results_spec
/rnd2
/rnd2_1

/loopCount
/loopCount_updated

../Berti

/LICENSE
/README.md 
/Makefile
/results

/myenv