# Compiled output
bin/
obj/

# Python virtual environment
env/

# Trace files and folder to ignore
tracer/
*.traces

# Editor configuration
.vscode/



../Berti

/LICENSE
/README.md 
/Makefile
/results

/myenv
/testing
/simulation_script
/selected_traces.txt
/.env
/build_binary.sh
/Excel_Output
/plots
/AI_ML
/result*
