# Compiled output
bin/
obj/

# Python virtual environment
myenv/

# Trace files and folder to ignore
tracer/
*.traces

# Editor configuration
.vscode/

branch/
inc/
src/
obj/
prefetcher/
replacement/
